.Header-header {
    background-color: #141729;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 13px;
    color: white;
    align-items: center;
  }  
  .Header-header-item{
    display: inline-block;
  }
  .Header-header-item:first-child{
    flex: 1;
    -webkit-app-region: drag;
    text-align: left;
  }
  .Header-title{
    padding-left: 10px;
    font-size: 16px;
  }
  .Header-header-tools{
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
  }
  .Header-header-tools li{
    list-style: none;
    width: 40px;
    line-height: 30px;
  }
  .Header-header-tools li:hover{
    background: #333;
  }
  .Header-header-tools li:last-child:hover{
    background: #E81123;
  }
